<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-CLZ-20150506164811;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-CLZ-20150506164811.mdf" providerName="System.Data.SqlClient" />
    <add name="DBContainer" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC201506031349;initial catalog=CLZ;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICommonService" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IZHSettleService"  maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7632/CommonService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICommonService" contract="CLZService.ICommonService"
        name="BasicHttpBinding_ICommonService" />
      <endpoint address="http://localhost:7632/ZHSettleService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IZHSettleService"
        contract="ZHSettleService.IZHSettleService" name="BasicHttpBinding_IZHSettleService" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>