@model CLZ.CLZService.SysRole
@using CLZ.Common;
@using CLZ.Core;
@using CLZ.CLZService;
@{
    ViewBag.Title = "创建";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
}

<script type="text/javascript">
    $(function () {
        $("#btnSave").click(function () {
            if ($("#CreateForm").form('validate')) {
                $.ajax({
                    url: "/SysRole/Create",
                    type: "Post",
                    data: $("#CreateForm").serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data.type == 1) {
                            window.parent.frameReturnByMes(data.message);
                            window.parent.frameReturnByReload(true);
                            window.parent.frameReturnByClose()
                        }
                        else {
                            window.parent.frameReturnByMes("失败");
                        }
                    }
                });
            }
            else {
                //$.messageBox5s('提示','@Suggestion.ValidateFail' );
            }

        });
    });
</script>
<div class="mvctool bgb">
    <a id="btnSave" style="float: left;" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text icon-save" style="padding-left: 20px;">保存</span></span></a>
</div>
@using (Html.BeginForm("Create", "SysSample", null, FormMethod.Post, new { Id = "CreateForm" }))
{
    <table class="fromEditTable setTextWidth300">
        <tbody>
            <tr>
                <td style="width:100px; text-align:right;">
                    角色ID：
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Id, new { data_options = "required:true" })
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    角色名称：
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Name, new { data_options = "required:true" })
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    说明：
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Description, new { data_options = "required:true" })
                </td>
            </tr>
        </tbody>
    </table>
}
